nav{
    background-color: #e2e2e2;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

nav li{
    list-style: none;
    color: black;

}

nav a {
    color: inherit; /* This will make the links inherit the color of their parent element */
    text-decoration: none; /* This will remove the underline from the links */
}

nav a:visited {
    color: inherit; /* This will ensure visited links have the same color */
}

nav a:hover {
    color: inherit; /* This will ensure hovered links have the same color */
}

nav a:active {
    color: inherit; /* This will ensure active links have the same color */
}

.nav-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
}

.nav-links li:hover{
    color: green;
    text-decoration: underline;
    font-weight: bold;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}